:root {
	--COLOR-ONE: #f5f3f4;
	--COLOR-TWO: #d3d3d3;
	--COLOR-THREE: #ba181b;
	--COLOR-FOUR: #161a1d;
	--COLOR-FIVE: #0b090a;
	font-family: "Poppins", sans-serif;
}

::backdrop {
	background-color: var(--COLOR-TWO);
	opacity: 0.75;
}

body {
	background-color: var(--COLOR-ONE);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 10px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10000;
	background-color: var(--COLOR-TWO);
}

#toggle-btn {
	all: unset;
	aspect-ratio: 1/1;
	padding: 10px;
	display: grid;
	place-content: center;
	font-size: 1.5rem;
	border-radius: 50%;
}

#toggle-btn:hover {
	background-color: var(--COLOR-ONE);
	transition: 150ms;
}

dialog {
	margin: auto;
	border: 2px solid black;
	background-color: #202020;
	max-width: 400px;
	width: 100%;
	padding: 1rem;
	border-radius: 0.5rem;
}

dialog form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

dialog label {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 0.9rem;
	color: white;
	font-size: 1.1rem;
}

dialog input {
	all: unset;
	background-color: var(--COLOR-FIVE);
	color: var(--COLOR-ONE);
	padding: 0.5rem;
	border-radius: 10px;
}

dialog .button-container {
	margin: 0 auto;
	display: flex;
	gap: 1rem;
}

dialog button {
	all: unset;
	font-size: 0.9rem;
	color: white;
	padding: 0.5rem 1rem;
	outline-offset: 2px;
	font-size: 1.1rem;
}

dialog .cancel-btn {
	background-color: var(--COLOR-THREE);
}

dialog .cancel-btn:focus {
	outline: 2px solid red;
}

dialog .save-btn {
	background-color: green;
}

dialog .save-btn:focus {
	outline: 2px solid green;
}

dialog .add-watchlist-container {
	display: flex;
	gap: 10px;
}

input#watchlist {
	flex: 1;
}

dialog .add-btn {
	padding: 10px;
	display: grid;
	place-content: center;
	aspect-ratio: 1/1;
	border-radius: 50%;
	font-size: rem;
	background-color: var(--COLOR-ONE);
	color: var(--COLOR-THREE);
}

dialog .add-btn:focus {
	outline: 2px solid blue;
}

input:focus {
	border-color: transparent;
}

select {
	padding: 10px;
}

.sidebar,
header .sidebar {
	padding: 1rem;
	height: 100vh;
	width: 16rem;
	display: none;
	flex-direction: column;
	background-color: var(--COLOR-ONE);
	box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* sidebar inside is positioned fixed on the left top corner */
header .sidebar {
	display: flex;
	position: fixed;
	left: 0;
	top: 5rem;
	height: calc(100vh - 5rem);
}

/* hide the h1 tag inside the sidebar inside header */
header .sidebar h1 {
	display: none;
}

h1 {
	color: var(--COLOR-THREE);
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
}

.sidebar form {
	width: 100%;
	display: flex;
	position: relative;
	margin: 1rem 0;
}

.sidebar form input {
	width: 100%;
	padding: 0.3rem;
	text-indent: 2rem;
}

.sidebar .inner-search-icon {
	position: absolute;
	left: 0.7rem;
	top: 50%;
	transform: translateY(-50%);
	color: grey;
}

#list-container {
	padding: 1rem;
	flex: 1;
	overflow-y: auto;
}

#list-container h2 {
	font-size: 1.2rem;
	color: var(--COLOR-FIVE);
}

#list-container a {
	text-decoration: none;
	color: var(--COLOR-FIVE);
}

#list-container ul {
	list-style: none;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 0.9rem;
}

.list-icon {
	display: inline-block;
	background-color: black;
	color: white;
	padding: 3px;
}

.user {
	border: 2px solid grey;
	text-transform: uppercase;
	color: black;
	position: relative;
	padding: 0.5rem;
	font-size: 14px;
	border: 1px solid grey;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.user .container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.profile-picture {
	width: 30px;
	aspect-ratio: 1/1;
	border: 2px solid black;
	border-radius: 50%;
}
.user-icon {
	width: 30px;
	height: 30px;
}

.ellipsis-icon {
	font-size: 1.25rem;
	margin-left: auto;
}

.login-btn {
	all: unset;
	padding: 0.5rem;
	width: max-content;
	margin: 0 auto;
	background-color: var(--COLOR-THREE);
	color: var(--COLOR-TWO);
	text-align: center;
	border-radius: 0.5rem;
}
.home {
	background-color: var(--COLOR-THREE);
	padding: 0.5rem;

	font-size: 0.9rem;
	margin-bottom: 1rem;
}

.home a {
	display: block;
	display: flex;
	align-items: center;
	gap: 1rem;
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 0.9rem;
}

.home .home-icon {
	font-size: 1.3rem;
}

main {
	background-color: var(--COLOR-ONE);
	margin-top: 5rem;
	height: calc(100vh - 5rem); /* navbar height is 80px = 5rem so */
	width: 100%;
	flex: 3;
	overflow-y: auto;
	padding: 1rem;
}

#watchlist-page h2 {
	color: var(--COLOR-FOUR);
	margin-bottom: 1rem;
	font-size: 2.5rem;
	font-weight: 500;
}
#watchlist-page .about {
	font-size: 1.3rem;
	font-weight: 500;
}

#homepage form {
	width: 100%;
	gap: 0.5rem;
	position: relative;
	margin: 2rem 0;
}

#homepage form input {
	width: 100%;
	height: 40px;
	padding: 0.3rem;
	padding-right: 5rem;
	text-indent: 2rem;
	font-size: 1.1rem;
}

#homepage .inner-search-icon {
	position: absolute;
	left: 0.7rem;
	top: 50%;
	transform: translateY(-50%);
	color: grey;
}

#homepage form button {
	all: unset;
	height: 100%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%) scale(1.1);
	background-color: var(--COLOR-THREE);
	color: white;
	padding: 0 10px;
	border-radius: 5px;
}

#welcome-container {
	border: 2px solid var(--COLOR-THREE);
	border-radius: 5px;
	padding: 1rem;
}
#welcome-text {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

/*hide the text in p tag for smaller screen*/
#welcome-text + p {
	display: none;
}

#welcome-text span {
	color: var(--COLOR-THREE);
}

#homepage ul,
#watchlist-page ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

	padding: 2rem 0;
	gap: 2rem;
}

.card {
	width: 100%;
	position: relative;
	background-color: var(--COLOR-TWO);
	border-radius: 5px;
	padding-bottom: 10px;
	box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.3);
}

.card figure {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.card .image-container {
	width: 100%;
	aspect-ratio: 11/16;
	background-color: var(--COLOR-ONE);
}
.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card figcaption {
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	font-family: "Lato", sans-serif;
}

.card .year {
	font-weight: 300;
}

.bookmark,
.remove {
	all: unset;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}

.bookmark-icon,
.remove-icon {
	font-size: 2rem;
	color: var(--COLOR-FIVE);
}

.remove-icon {
	color: var(--COLOR-ONE);
}

.plus-icon {
	color: white;
	font-size: 1.1rem;
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translateX(-50%);
}

.bookmark:hover > .bookmark-icon,
.remove:hover > .remove-icon {
	color: var(--COLOR-THREE);
}

/*Details Page*/
#details-page img {
	display: block;
	width: 60%;
	max-width: 15rem;
	height: auto;
	margin: 0 auto;
}

#details-page .title {
	text-align: center;
	margin: 1rem 0;
	color: var(--COLOR-THREE);
}

#details-page .plot {
	margin: 1rem 0;
}
/*Media screen breakpoints*/

@media screen and (width > 850px) {
	.sidebar {
		display: flex;
		position: static;
	}

	#root {
		display: flex;
		gap: 1rem;
	}

	header {
		display: none;
	}
	h1 {
		font-size: 2.5rem;
	}
	main {
		height: 100vh;
		margin-top: 0;
	}

	#details-page img {
		margin: 0;
	}

	#details-page .title {
		text-align: left;
	}

	#welcome-text {
		font-size: 2rem;
		text-align: left;
	}

	#welcome-text + p {
		display: block;
	}
}
